##  What is a List?
ðŸ”¹ A list in Python is a collection of items (elements) that can hold different data types (integers, strings, floats, even other lists).

ðŸ”¹ Lists are ordered, mutable (changeable), and allow duplicate values.

In [1]:
empty = []
numbers = [1,2,3,4]
mixed = ['apple',12,'Hi']
mixed

['apple', 12, 'Hi']

# 1 .Accessing Elements
ðŸ”¹Lists use indexing (starting from 0).

In [1]:
numbers = [1,2,3,4]
mixed = ['apple',12,'Hi']
fruits =['apple', 'banana', 'cherry' ,'mango','grape']

In [76]:
mixed [2] , fruits [3],  numbers [-1] # -1 will take last element

('Hi', 'cherry', 4)

# 2 .Slicing  
[ start , stop , space ]

In [7]:
numbers = [10, 20, 30, 40, 50]

print(numbers[1:4])   # the ouput will be 10 to 40
print(numbers[:3])    # [10, 20, 30] the output is 10 to 30
print(numbers[2:])    # [30, 40, 50]
print(numbers[::-1])  # [::-1] it reverses the list . if there is [::-2] it reverses the list but then it will leave one element 
                    # it reverses without reverse function

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]
[50, 40, 30, 20, 10]

# 3 .Adding elements in list

In [86]:
fruits = ["apple", "banana"]

fruits.append("cherry")     # it will Add at the end of the list   & it only add one element
print(fruits)  

fruits.insert(1, "mango" ,)   # it will Add at specific index   & it also add one element
print(fruits) 

fruits.extend(["kiwi", "orange"])  # extend add more than one element
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry', 'kiwi', 'orange']

# 4 .Removing elements from list

In [ ]:
fruits = ["apple", "banana", "cherry", "banana"]

fruits.remove("banana")  # it will Removes first 'banana'
print(fruits)  

fruits.pop(1)  # it will Removes element that is at 1 index 
print(fruits)  

last_item = fruits.pop()  # pop always remove element from last
print(last_item)  

fruits.clear()  # Removes all elements  and make the list empty []
print(fruits)

In [17]:
fruits = ["apple", "banana", "cherry", "banana"]
fruits.pop()
print(fruits)

['apple', 'banana', 'cherry']

# Sorting and Reversing

In [29]:
numbers = [6,1,2,5,3,4]
numbers.sort()    # it make the list in   Ascending order
print(numbers)
numbers.sort(reverse = True)  # Descending order
print (numbers)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [142]:
fruits = ["apple", "banana", "cherry", 'Grapes']
fruits.reverse() # just reverse order
print(fruits)

['Grapes', 'cherry', 'banana', 'apple']

# list in loops

In [90]:
print(fruits)
for temp in range(len(fruits)): # in this i have checked the length of elements in lists with loops
    print(temp)

['apple', 'banana', 'cherry', 'Grapes', 'orange', 'WaterMelon', 'Mango']
0
1
2
3
4
5
6

# Nested lists`

In [94]:
fruits = [['apple', 'banana', ['cherry']],['Grapes', 'orange', ['WaterMelon'], 'Mango']] # this is example of nested lists
fruits

[['apple', 'banana', ['cherry']],
 ['Grapes', 'orange', ['WaterMelon'], 'Mango']]

In [145]:
numbers = [1,2,3,4,5,6,7,8,1,1]
print(len(numbers))
print(min(numbers)) # tell the small number in the list
print(max(numbers)) # tell the largest number in the list

10
1
8

# Shallow copy  method 1

In [75]:
uni = [["Fast", "Nust"], ["Ned", "Bahria","Smiu","Dawood","Dha suffa"]] #this is a nested list of uni
print(uni)

[['Fast', 'Nust'], ['Ned', 'Bahria', 'Smiu', 'Dawood', 'Dha suffa']]

In [76]:
top_uni = uni.copy() # i have used the .copy method
top_uni [1][4] = "Lums" # Added lum by slicing 

print(id(uni),uni)
print(id(top_uni),top_uni)

1467364720704 [['Fast', 'Nust'], ['Ned', 'Bahria', 'Smiu', 'Dawood', 'Lums']]
1467364001536 [['Fast', 'Nust'], ['Ned', 'Bahria', 'Smiu', 'Dawood', 'Lums']]

# Method 2

In [77]:
uni = [["Fast", "Nust"], ["Ned", "Bahria","Smiu","Dawood","Dha suffa"]]
print(uni)
top_uni = uni
top_uni.append("Mite") # add on element by append method

[['Fast', 'Nust'], ['Ned', 'Bahria', 'Smiu', 'Dawood', 'Dha suffa']]

In [78]:
print(id(uni),uni)
print(id(top_uni),top_uni)

1467363955712 [['Fast', 'Nust'], ['Ned', 'Bahria', 'Smiu', 'Dawood', 'Dha suffa'], 'Mite']
1467363955712 [['Fast', 'Nust'], ['Ned', 'Bahria', 'Smiu', 'Dawood', 'Dha suffa'], 'Mite']

# Deep Copy  method 1

In [56]:
sports = [["Cricket" , "Football"] , ["Basketball","Tennis","Racing","Volleyball",'Squash']]
print(sports)

[['Cricket', 'Football'], ['Basketball', 'Tennis', 'Racing', 'Volleyball', 'Squash']]

In [80]:
top_sports = copy.deepcopy(sports) # in this code i have used deepcopy mehtod 
top_sports [1][4]= "Swimming" # adding element by slicing

print(id(sports),sports)
print(id(top_sports),top_sports)

1467364659904 [['Cricket', 'Football'], ['Basketball', 'Tennis', 'Racing', 'Volleyball', 'Squash']]
1467364971136 [['Cricket', 'Football'], ['Basketball', 'Tennis', 'Racing', 'Volleyball', 'Swimming']]

# Method 2

In [84]:
sports = [["Cricket" , "Football"] , ["Basketball","Tennis","Racing","Volleyball",'Squash']]
print(id(sports),sports)

top_sports = copy.deepcopy(sports)

top_sports.append("Swimming")

print(id(top_sports),top_sports)

1467364606528 [['Cricket', 'Football'], ['Basketball', 'Tennis', 'Racing', 'Volleyball', 'Squash']]
1467364722240 [['Cricket', 'Football'], ['Basketball', 'Tennis', 'Racing', 'Volleyball', 'Squash'], 'Swimming']

# List Comprehension

In [107]:
list1 = [temp**2 for temp in range(1,10)]  #in this code loop will run from 1 to 9 and give the square of each of it 
list1                   # this is list comprehension

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [123]:
age = int(input("Enter your age: "))
vote = ["Eligible for vote" if age >=18  else"not eligible" ]  # In this code user will give the age ,and then program will
vote                                                          # check either the user is eligible for vote or not

Enter your age:  18

['Eligible for vote']

In [131]:
table = [f"5 X {temp} = {5*temp} "for temp in range(1,11)] #Inthis code i have made the table by the help of list comprehension
table

['5 X 1 = 5 ',
 '5 X 2 = 10 ',
 '5 X 3 = 15 ',
 '5 X 4 = 20 ',
 '5 X 5 = 25 ',
 '5 X 6 = 30 ',
 '5 X 7 = 35 ',
 '5 X 8 = 40 ',
 '5 X 9 = 45 ',
 '5 X 10 = 50 ']